[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = codechef challenges
[access "refs/*"]
	owner = group user/saibalchakraborty
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/saibalchakraborty
	label-Verified = -1..+1 group user/saibalchakraborty
	push = group user/saibalchakraborty
	read = group user/saibalchakraborty
	rebase = group user/saibalchakraborty
	removeReviewer = group user/saibalchakraborty
	submit = group user/saibalchakraborty
[access "refs/heads/*"]
	create = group user/saibalchakraborty
	push = +force group user/saibalchakraborty
	pushMerge = group user/saibalchakraborty
	read = group user/saibalchakraborty
[access "refs/tags/*"]
	push = group user/saibalchakraborty
	push = +force group user/saibalchakraborty
